* {
	/*border: 2px tomato solid;*/
}

body {
	line-height: 1;
}
.wrapper {
	text-align: center;
}
.body-text {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	border: 1px tomato solid;
	width: 60%;
	margin: auto;
	padding: 10px;
}

.long {
	margin: auto;
	width: 50%;
}

.contact {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	border: 1px tomato solid;
	width: 30%;
	margin: auto;
	padding: 10px;
}